body {
  font-family: "Segoe UI", sans-serif;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.card {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.5rem;
  color: black;
}

.top-suits {
  align-self: flex-start;
  font-size: 40px;
}

.bottom-suits {
  align-self: flex-end;
  font-size: 40px;
  transform: rotate(180deg);
}

.number {
  font-size: 4rem;
  text-align: center;
}

.card.red {
  color: red;
}

#newCardBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

#newCardBtn:hover {
  background-color: #fff4e6;
  transform: scale(1.05);
}