body {
  font-family: "Segoe UI", sans-serif;
  background-color: green;
}

.card {
  background-color: white;
  width: 600px;
  height: 900px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  font-size: 2.5rem;
  color: black;
}

.top-suits {
  align-self: flex-start;
  font-size: 100px;
}

.bottom-suits {
  align-self: flex-end;
  font-size: 100px;
  transform: rotate(180deg);
}

.number {
  font-size: 9rem;
  text-align: center;
}

.card.red {
  color: red;
}

#newCardBtn:hover {
  background-color: #fff4e6;
  transform: scale(1.05);
  transition: 0.2s;
}
